@CHARSET "ISO-8859-1";

.nav {
	margin: 0 auto;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color: #c3e6e2;
	border-radius: 15px;
}

.nav li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}


.nav li {
	text-align: center;
}

.nav li a.active {
	background-color: #025cb0;
	color: white;
}

.nav li a:hover:not(.active) {
	background-color: #6fbce8;
	color: white;
}

.nav li:first-child .nav-item {
	border-radius: 15px 15px 0 0;
}

.nav li:last-child .nav-item {
	border-radius: 0 0 15px 15px;
}

.nav li {
	cursor: pointer;
}

.dropdown-content {
	display: none;
	background-color: #c3e6e2;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: right;
}

.dropdown:hover .dropdown-content {
	display: block;
}


@media only screen and (min-width: 1200px) {
	.frame {
		border: none;
		background-color: rgb(195, 230, 226, 0.9);
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		border-radius: 15px;
		min-height: 800px;
	}
}

.frame {
	border: none;
	background-color: rgb(195, 230, 226, 0.9);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 15px;
	min-height: 560px;
}

.grid {
	display: grid;
	grid-template-columns: 15% auto;
	grid-auto-rows: column;
	grid-column-gap: 25px;
}

table.list {
	border-collapse: collapse;
	margin: 15px auto 15px auto;
	width: 95%;
	border-radius: 10px;
	overflow: hidden;
}

table.list td{
	padding: 5px 15px;
}

table.list, table.list th, table.list td {
	border: none;
}

table.list th {
	padding: 10px 15px;
	background-color: #025cb0;
	color: white;
	text-align: left;
}

table.list tr:nth-child(odd) {
	background-color: white;
}

table.list tr:nth-child(even) {
	background-color: #f1f1f1;
}

table.list tr:hover {
	background-color: #ddd;
}

.filterSortingForm {
	display: flex;
	justify-content: space-between;
	margin: 0 50px;
}

.searchForm {
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.searchForm  input[type=search] {
	float: left;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 15px 0 0 15px;
	font-size: 17px;
	width: 50%;
}

.searchForm button {
	float: left;
	padding: 10px 15px;
	margin-bottom: 10px;
	background-color: #ddd;
	font-size: 17px;
	border: none;
	border-radius: 0 15px 15px 0;
	cursor: pointer;
}

.searchForm button:hover, .searchForm button:hover > i {
	background-color: #6fbce8;
	color: white;
}

.slide {
	display: none;
	height: 100%;
	width: 100%;
}

.container:hover .prev, .container:hover .next {
	display: block;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 3px;
	padding: 8px 12px;
	user-select: none;
	display: none;
}
.prev {
	left: 0;
	transform: translate(50%, -50%);
}

.next {
	right: 0;
	transform: translate(-50%, -50%);
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: 0.4}
	to {opacity: 1}
}